
/* General Site Styling */
html, body {
    height: 100%;
    margin: 0;
    background-color: #333;
    color: #2e313a;
    text-decoration: none;
    overflow: hidden;
    font-family: 'Times New Roman', Times, serif
  }
  h1{
    margin-top: 0;
  }
  p{
    display:block;
  }
  span {
    white-space: nowrap;
  }
  ul {
    /* uses bullets */
    list-style-type: disc; 
  }
  li {
    font-weight: bold;
  }
  a{
    font-weight:lighter;
    font-size: .7em;
    color: #2e313a;
    text-decoration: none;
  }

#homescreen{
  background-image: url("images/background.jpg");
  background-size: cover;
}

.hidden{
  display:none;
}
.app-bar {
  width:75%;
  display:flex;
  justify-content: center;
  align-items: center;
  height: 9vw;
  margin-left: 12.5%;
  position: fixed;
  border-radius: 25px;
  bottom: 1vw;
  background-color: #8a8a8a;
  transition: opacity .8s ease-in-out; 
  opacity:.9;
  flex-grow: 1;
  z-index: 9999999;
}

.app-bar > .app_logo {
  width: 12%;
  height:auto;
  padding-left: 2%;
  padding-right: 2%;
  transition: opacity .8s ease-in-out;
  opacity: 1;
  vertical-align: center;
  margin-top: auto;
  margin-bottom: auto;
}
/* add extra padding to the outermost apps */
.app-bar .app_logo:last-child{
  padding-right:8%;
}
.app-bar .app_logo:first-child{
  padding-left:8%;
}

.app_logo img{
  width:100%;
  height:auto;
  border-radius: 30%;
}
.app_logo:hover{
  transform: scale(1.1);
}

 /*Social Media Styling */
 .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 0px; /* Grid is a touchin' */
    width:100%;
    height:100%;
    margin:0;
  }
  
  .grid-item {
    background-color: #ccc;
    padding: 0px;
    text-align: center;
  }

  .profile_pic {
    background-color:blue;
  }
  .circle{
    border-radius: 50%;
    width: 100%;
    height:100%;
    margin: 0px;
    background-image: url("images/temp.avif");
    background-size: cover;
  }
  .circle img{
    width:100%;
    height:auto;
  }

  .profile_bio p {
    padding:10px;
  }
  /* End Social Media Styling */


  /* begin general project styling */
  .carousel-container {
    width: 100%;
    overflow: hidden; /* Hide overflowing images */
    display:flex;
    justify-content:center;
    height: 100vh;
  }
  
  .carousel-slide {

    display: flex; /* Display the images side by side */
    transition: transform 0.5s ease-in-out; 
    width: 300%; /* # of images x 100% */
    /* gonna move up to make them match contact */
    /* align-items: center; */
    /* position:relative; */

    z-index:0;
  }

  .carousel-slide img {
    position:relative; 
    top: 5%;
    flex:1 1 0;
    height: auto; /* Ensure the image doesn't exceed the height of the carousel */
    min-width: 90%;
    max-width:90%;
    margin-left:5%;
    margin-right:5%;
    background-size: 100%;
    box-shadow: 6px 6px 16px -10px rgba(0, 0, 0, 0.4);
    border-radius: 6px;
  }
  .carousel-slide a {
    flex:1 1 0;
    height: auto; /* Ensure the image doesn't exceed the height of the carousel */
    min-width: 90%;
    max-width:90%;
    margin-left:5%;
    margin-right:5%;
    background-size: 100%;
  }

  .title{
    color: #2e313a;
    display: block;
  }

  .attributes{
    border-radius: 4px;
    font-family: Helvetica;
    font-size: 0.9em;
    text-align: center;
    color: #fff;
    padding: 5px;
    line-height: normal;
    padding-left: 6px;
    padding-right: 6px;
    margin-bottom: 0.3em;
    margin-right: 0.3em;
    background-color: blue;
    /* flex: 1 1 0; */
    display: inline-block;
  }
  .web-attribute{
    background-color: #A63661;
  }
  .presentation-attribute{
    background-color: #F65E43;
  }
  .collaboration-attribute{
    background-color: #5E4B8B;
  }
  .algorithm-attribute{
    background-color: #492E34;;
  }
  .user-attribute{
    background-color: #7C334B;
  }
  .UI-attribute{
    background-color: #F2B705;
  }
  .math-attribute{
    background-color: #36A65F;
  }
  .ethic-attribute{
    background-color: #2980B9;
  }
  .project-description{
    z-index: 1;
  }
  .attribute-container{
    display:flex;
    width: 33.33333333333333%;
  }
  .description{
    position:absolute;
    color:#2e313a
  }

  .carousel-prev,
  .carousel-next {
    position: absolute;
    top: 50%; /* Position the buttons vertically at the center */
    transform: translateY(-50%); /* Adjust the vertical alignment */
    background: none;
    border: none;
    font-size: 18px;
    padding: 10px;
  }
  
  .carousel-prev {
    left: 10px;
  }
  
  .carousel-next {
    right: 10px;
  }
  #nextech-carousel{
    /* Needs to allow for 4 images. */
    width: 400%;
  }
  .project-grid-container{
    /* establish a grid which is 2/3 image carousel and 1/3 description */
    display: grid;
    grid-template-columns: 2fr 1fr;
    place-content: center center;
  }
  .project{
    background-color:#F8F8F8;
    height:100vh;
    background-image: url("images/tempbg.jpg");
    background-size:cover;
  }


  .container {
    position: absolute;
    top: 5%;
    margin-left: 5%;
    margin-right:5%;
    width: 60%;
    height: 80%;
    overflow: hidden;
  }
  form{
    height: 100%;
  }
  .descriptionII{
    top: 5%;
    position:absolute;
    color:#2e313a;
    margin:0;
    padding:0;
  }
  .contact-grid {
    border-radius: 1.5%;
    overflow: hidden;
    border: 1px solid #000;
    display: grid;
    grid-template-columns: 1fr; /* Single column */
    grid-template-rows: 1fr 2fr 2fr 5fr;
    height: 85%;
  }
  
  .contact-grid-item {
    background-color: whitesmoke;
  }
  
  .row1 {
    color: #fff;
    background-color: #2980B9;
    text-align: center;
    vertical-align: middle;
    font-size: 1em;
    resize: none;
    height: 1fr; /* Set the height to 1/10 of the grid container */
  }
  
  .row2 {
    height: 2fr;
    text-align: left top;
  }
  
  .row3 {
    height: 2fr;
  }
  
  .row4 {
    height: 5fr;
    padding-left: 0.5em;
    padding-top: 0.5em;
    resize: none;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px; /* Adjust the margin as needed */
  }
  
  .button {
    width: 50%; /* Set the button width to 50% of the grid container */
    padding: 10px;
    text-align: center;
    background-color: #2980B9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .button:hover {
    transform: scale(1.05); /* Enlarge the button by 10% on hover */
  }
  .button:active {
    /* On click changa da colore */
    background-color: #ff5500;
  }
  #funny-carousel{
    z-index:-9999;
  }
  
 .linkedImageContainer{
  width:100%;
  display:flex;
  height:20vh;
 } 
 .linkedImageContainer a{
  flex: 1 1 0;
  max-width: 33.3333%;
  min-width:20%;
  height: auto;
  margin:10px;
 }
 .linkedImageContainer img{
  flex: 1 1 0;
  max-width: 100%;
  min-width:100%;
  height: auto;
 }
  
  
  .emailSend{
    color: #2e313a;
    text-decoration: none;
    overflow: hidden;
    font-size: 1em;
  }

  textarea{
    font-family: sans-serif;
  }


  /* About me Styling */
  .banner{
    border-color: black;
    border-width: 3px;
    border-style:solid;
    border-radius: 12px;
    max-width:80vw;
    min-width:80vw;
    margin-left:10vw;
    margin-top:1vh;
    height:auto;
    box-shadow: 6px 6px 16px -10px rgba(0, 0, 0, 0.4);
    /* left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
  }

  #smedia-attributes{
    width:80%;
    margin-left:10vw;
    margin-top: 1vh;
    justify-content: center;
  }
  #smedia-attributes span{
    margin-left:1vw;
    margin-right:1vw;
    padding:.5vw;
  }

  #about-blurb{
    margin-left:10vw;
    margin-top: 5vh;
    margin-right:10vw;
    text-align: center;
    font-size:1.5em;
  }