html, body {
    height: 100%;
    margin: 0;
    background-color: #333;
  }

#test{
    color:blue;
}

#smedia{
  /* Hide the page until clicked */
  display:none; 
}

#homescreen{
  background-image: url("images/background.jpg");
  background-size: cover;
}

.app-bar {
  width:75%;
  display:flex;
  justify-content: center;
  align-items: center;
  height: 9vw;
  margin-left: 12.5%;
  position: fixed;
  border-radius: 25px;
  bottom: 1vw;
  background-color: #666666;
  transition: opacity 1s; 
  opacity:1;
  flex-grow: 1;
}


.app-bar:hover{
  color: blue;
  opacity:1;
  transition: opacity 1s; 
}


.app-bar > .app_logo {
  width: 12%;
  height:auto;
  padding-left: 2%;
  padding-right: 2%;
  transition: opacity 1s ease-in-out;
  opacity: 1;
  vertical-align: center;
  margin-top: auto;
  margin-bottom: auto;
}
.app-bar .app_logo:last-child{
  padding-right:8%;
}
.app-bar .app_logo:first-child{
  padding-left:8%;
}
.app_logo img{
  width:100%;
  height:auto;
  border-radius: 30%;
}
.app_logo:hover{
  transform: scale(1.1);
}

 /*Social Media Styling */
 .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 0px; /* Grid is a touchin' */
    width:100%;
    height:100%;
    margin:0;
  }
  
  .grid-item {
    background-color: #ccc;
    padding: 0px;
    text-align: center;
  }

  .profile_pic {
    background-color:blue;
  }
  .circle{
    border-radius: 50%;
    width: 100%;
    height:100%;
    margin: 0px;
    background-image: url("images/temp.avif");
    background-size: cover;
  }
  .circle img{
    width:100%;
    height:auto;
  }

  .profile_bio p {
    padding:10px;
  }
  /* End Social Media Styling */


  /* begin general project styling */
  .carousel-container {
    width: 100%;
    margin: 0 auto; /* Center the carousel horizontally */
    overflow: hidden; /* Hide overflowing images */
  }
  
  .carousel-slide {
    display: flex; /* Display the images side by side */
    transition: transform 0.5s ease-in-out; /* Apply a smooth transition effect */
    width: 300%; /* dependent on # of images */
    align-items: center;
    justify-content: center; /* Center the images horizontally */
    align-self: center;
  }
  
  .carousel-slide img {
    flex:1 1 0;
    height: auto; /* Ensure the image doesn't exceed the height of the carousel */
    width: 100%;
    align-self: center;
  }

  .carousel-prev,
  .carousel-next {
    position: absolute;
    top: 50%; /* Position the buttons vertically at the center */
    transform: translateY(-50%); /* Adjust the vertical alignment */
    background: none;
    border: none;
    font-size: 18px;
    padding: 10px;
  }
  
  .carousel-prev {
    left: 10px;
  }
  
  .carousel-next {
    right: 10px;
  }

  .project-grid-container{
    /* establish a grid which is 2/3 image carousel and 1/3 description */
    display: grid;
    grid-template-columns: 2fr 1fr;
    place-content: center center;
  }
  #catapult{
    display:none;
    background-color:#333;
    
  }
  

  